@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Tangerine', cursive;
}

.cover {
  background: linear-gradient(
      to right,
      rgb(255, 249, 250) 3px,
      rgba(255, 255, 255, 0.5) 5px,
      rgba(255, 255, 255, 0.25) 7px,
      rgba(255, 255, 255, 0.25) 10px,
      transparent 12px,
      transparent 16px,
      rgba(255, 255, 255, 0.25) 17px,
      transparent 22px
    ),
    rgb(229, 226, 226);
  // url(https://images-na.ssl-images-amazon.com/images/I/51pnouuPO5L.jpg);
  background-size: cover;
  box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: auto;
  border-radius: 3px;
  width: 389px;
  height: 500px;
}

.back {
  background: linear-gradient(
      to left,
      rgb(255, 249, 250) 3px,
      rgba(255, 255, 255, 0.5) 5px,
      rgba(255, 255, 255, 0.25) 7px,
      rgba(255, 255, 255, 0.25) 10px,
      transparent 12px,
      transparent 16px,
      rgba(255, 255, 255, 0.25) 17px,
      transparent 22px
    ),
    rgb(229, 226, 226);
  background-size: cover;
  box-shadow: 0 0 5px -1px black, inset 1px -1px 2px rgba(255, 255, 255, 0.5); /* Reverse inset shadow */
  margin: auto;
  border-radius: 3px;
  width: 389px;
  height: 500px;
}
