@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Yesteryear', cursive;
}

.cover {
  background: linear-gradient(
      to right,
      rgba(250, 249, 238, 0.7) 3px,
      rgba(99, 96, 60, 0.5) 5px,
      rgba(99, 96, 60, 0.25) 7px,
      rgba(99, 96, 60, 0.25) 10px,
      transparent 12px,
      transparent 16px,
      rgba(99, 96, 60, 0.25) 17px,
      transparent 22px
    ),
    #d1cfbd;
  // url(https://images-na.ssl-images-amazon.com/images/I/51pnouuPO5L.jpg);
  background-size: cover;
  box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: auto;
  border-radius: 2px;
  width: 389px;
  height: 500px;
}

.back {
  background: linear-gradient(
      to left,
      rgb(255, 249, 250) 3px,
      rgba(255, 255, 255, 0.5) 5px,
      rgba(255, 255, 255, 0.25) 7px,
      rgba(255, 255, 255, 0.25) 10px,
      transparent 12px,
      transparent 16px,
      rgba(255, 255, 255, 0.25) 17px,
      transparent 22px
    ),
    rgb(229, 226, 226);
  background-size: cover;
  box-shadow: 0 0 5px -1px black, inset 1px -1px 2px rgba(255, 255, 255, 0.5); /* Reverse inset shadow */
  margin: auto;
  border-radius: 3px;
  width: 389px;
  height: 500px;
}

.gradient-overlay {
  background: linear-gradient(to bottom, transparent, white);
}
.gradient-overlay2 {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
}

.date:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  width: 30px;
  height: 8px;
  z-index: 30;
  background: #030221;
  transform: translateY(-50%);
  clip-path: polygon(0 50%, 100% 75%, 100% 25%);
}

.date:after {
  content: ' ';
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
  width: 30px;
  height: 8px;
  z-index: 30;
  background: #030221;
  transform: translateY(-50%) scaleX(-1);
  clip-path: polygon(0 50%, 100% 75%, 100% 25%);
}
